.operations-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;

	background: var(--blue_bg, #f8faff);

	padding-top: 30px;
	padding-bottom: 30px;
	gap: 30px;
}

.operation-wrapper {
	display: flex;
	flex-direction: column;
	gap: 20px;

	width: 100%;
	max-width: 1200px;

	position: relative;
}

.scroll-target-shift-block {
	position: absolute;
	top: -180px;
}

.operation-section-title {
	color: var(--primary-color);
	font-family: Manrope;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.operation-grid {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.operation-title-wrapper {
	margin: 0px;
}

.operation-title,
.oper-block-title {
	color: var(--black, #141414);
	font-family: Manrope;
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.operation-subtitle {
	color: var(--black, #141414);
	font-family: Manrope;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.operation-content {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.oper-block {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.oper-block-text {
	display: flex;
	flex-direction: column;
	gap: 20px;
	overflow-x: auto;
}

.oper-block-text ul {
	margin-block-start: 0;
	margin-block-end: 0;
}

.oper-block-text p,
.oper-block-text li {
	/* margin-top: 20px;
	margin-bottom: 20px; */

	color: var(--black-color);
	font-family: Manrope;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.oper-block-text p:first-child {
	margin-top: 0px;
}

.oper-block-text p:last-child {
	margin-bottom: 0px;
}

.oper-block-text table {
	max-width: 100%;
	border: 1px solid;
	border-color: #aabefa;
	border-radius: 15px;
	box-shadow: 0px 2px 20px 0px rgba(45, 86, 206, 0.05);
	border-spacing: 0px;
	overflow: hidden;
}

.oper-block-text thead {
	background-color: #e1e9ff;
	border-bottom: 1px solid var(--gray_blue, #aabefa);
}

.oper-block-text tbody tr:nth-child(2n) {
	background-color: #e1e9ff;
}

.oper-block-text th {
	color: var(--Accent, #22409a);
	text-align: center;
	font-family: Ubuntu;
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	text-transform: uppercase;
	padding: 15px;
}

.oper-block-text td {
	color: var(--Accent, #22409a);
	text-align: center;
	font-family: Ubuntu;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-transform: uppercase;

	padding: 15px;

	min-width: 160px;
	box-sizing: border-box;
}

@media (min-width: 1025px) {
	.operations-section {
		padding-top: 60px;
		padding-bottom: 60px;
		gap: 60px;
	}

	.operation-grid {
		gap: 20px;
	}

	.operation-section-title {
		font-size: 24px;
	}
	.operation-subtitle {
		font-size: 16px;
	}
	.operation-content {
		gap: 30px;
	}

	.operation-title,
	.oper-block-title {
		font-size: 16px;
	}

	.oper-block-text p,
	.oper-block-text li {
		font-size: 16px;
	}

	.oper-block-text th {
		font-size: 16px;
		padding: 20px;
	}

	.oper-block-text td {
		font-size: 16px;
		padding: 20px;
	}
}
