.news-section {
	width: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;
	background: var(--blue_bg, #f8faff);
}

.news-wrapper {
	width: 100%;
	max-width: 1200px;

	display: flex;
	flex-direction: row;
	gap: 50px;
	padding-top: 60px;
	padding-bottom: 60px;
}

.news-section-title {
	color: var(--Accent, #22409a);
	font-family: Manrope;
	font-size: 32px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.news-section-content {
	flex-grow: 1;
	display: flex;
	flex-direction: column;

	gap: 40px;
}

.news-list {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.news-list-item {
	position: relative;
	padding: 10px;
	border-bottom: 1px solid var(--gray_blue, #aabefa);
}

.news-item-date {
	color: var(--Accent, #22409a);
	font-family: Manrope;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.news-item-title {
	color: var(--black, #141414);
	font-family: Manrope;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.icon-wrapper {
	position: absolute;
	top: 0;
	right: 0;
}
