.section {
	margin-top: 30px;

	display: flex;
	flex-direction: column;
}

.mapSection {
	height: 391px;
	border-radius: 20px;
	overflow: hidden;
	margin-bottom: 30px;
}

.container {
	display: flex;
	flex-direction: column;
	gap: 15px;
	margin-bottom: 30px;
}

.content {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.description {
	color: var(--black-color);
	font-family: "Manrope";
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.phone,
.email {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.subtitle {
	color: #747474;
	font-family: "Manrope";
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.phoneNumbers,
.emailAddress {
	display: flex;
	flex-direction: row;
	gap: 30px;

	color: var(--primary-color);
	font-family: "Manrope";
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.phoneNumbers {
	flex-wrap: wrap;
	row-gap: 15px;
}

@media (min-width: 1025px) {
	.section {
		margin-top: 60px;

		flex-direction: row;
		justify-content: space-between;
	}
	.content {
		gap: 20px;
	}

	.container {
		width: 500px;
		gap: 20px;
	}
	.description {
		font-size: 16px;
	}

	.subtitle {
		font-size: 16px;
	}

	.phoneNumbers,
	.emailAddress {
		font-size: 16px;
	}

	.phoneNumbers {
		flex-wrap: nowrap;
	}

	.mapSection {
		height: 550px;
		margin-bottom: 0px;
	}
}
