.formSection {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
	margin-bottom: 20px;
}

.textContainer {
	display: flex;
	flex-direction: column;
	gap: 15px;

	margin-bottom: 30px;
}

.formContainer {
	margin-bottom: 30px;
}

.subtitle {
	color: var(--Accent, #22409a);
	font-family: "Manrope";
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.tagsList {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	row-gap: 13px;
}

.tag {
	box-sizing: border-box;
	padding: 5px 15px;
	background-color: var(--secondary-color);
	border-radius: 15px;

	font-family: "Manrope";
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.tag:first-child {
	background-color: var(--primary-color);
	color: var(--white-color);
}

.signa {
	color: #747474;
	font-family: "Manrope";
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-top: auto;
}

@media (min-width: 1025px) {
	.textContainer {
		gap: 30px;
	}
	.formSection {
		flex-direction: row;
		justify-content: space-between;
		margin-top: 60px;
		margin-bottom: 60px;
	}

	.subtitle {
		font-size: 24px;
	}

	.tagsList {
		justify-content: flex-start;

		gap: 13px;
	}

	.tag {
		padding: 5px 25px;
		font-size: 16px;
	}

	.signa {
		font-size: 14px;
	}
}
