.floating-tabs-wrapper {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	position: fixed;
	top: 0px;
	/* height: 75px; */
	height: 40px;

	background-color: white;
	z-index: 900;

	transition: all 0.3s ease;
}

.only-desc-flex {
	display: none !important;
}

.only-mob-flex {
	display: flex !important;
}

.floating-tabs-wrapper-down {
	top: 70px;
}

.floating-tabs-container {
	display: flex;
	width: 100%;
	max-width: 1200px;
}

.floating-tabs {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.next-btr-wrapper {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex-grow: 1;
}

.next-btn {
	all: unset;
	cursor: pointer;
}

.floating-tab-item::after {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 1px;
	background-color: #aabefa;
	transform: scaleX(0);
	transform-origin: center;
	transition: transform 0.3s ease;
}

@media (hover: hover) and (pointer: fine) {
	.floating-tab-item:hover::after {
		transform: scaleX(1);
	}
}

@media (min-width: 1025px) {
	.only-desc-flex {
		display: flex !important;
	}

	.only-mob-flex {
		display: none !important;
	}

	.floating-tabs-wrapper {
		display: flex;
	}

	.floating-tabs-wrapper-down {
		top: 105px;
	}
}
