html {
	overflow-y: scroll;
	scrollbar-gutter: stable;
}

body {
	font-family: "Manrope", sans-serif;
}

.wrapper {
	display: flex;
	flex-direction: column;

	min-height: 100vh;
}

main {
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: center;
	align-items: center;
	gap: 30px;

	position: relative;
	padding-top: 70px;
}

p {
	all: unset;
}

.section {
	width: 100%;
	box-sizing: border-box;
	padding-left: var(--min-horisontal-padding-value);
	padding-right: var(--min-horisontal-padding-value);
}

.section-flex {
	width: 100%;
	max-width: 1200px;

	display: flex;
	padding-top: 20px;
	padding-bottom: 20px;

	flex-direction: column;
	align-items: stretch;
	gap: 30px;
}

.section-fullWidth {
	max-width: none;
	padding-left: 0;
	padding-right: 0;
	width: 100%;
	background: var(--blue_bg);
	display: flex;
	padding: 20px 0px;
	flex-direction: column;
	align-items: center;
	gap: 30px;
	align-self: stretch;
	overflow: hidden;
}

.section-title {
	color: var(--primary-color);
	font-family: Manrope;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	align-self: flex-start;
}
.section-fullWidth-title {
	width: 100%;
	max-width: 1200px;
	text-align: start;
	box-sizing: border-box;
	align-self: center;
}

.nav-section {
	width: 100%;
	max-width: 1200px;

	display: flex;
	flex-direction: row;
	justify-content: space-between;

	padding-top: 20px;
}

.nav-function-description,
.nav-function-list {
	flex: 0 1 calc(50% - 60px);
}

.nav-function-description {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.nav-section-title {
	color: var(--Accent, #22409a);
	font-family: Manrope;
	font-size: 32px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.nav-description-text {
	color: var(--black, #141414);
	font-family: Manrope;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.nav-function-list {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;

	padding: 10px 30px;

	border-left: 1px solid var(--gray_blue, #aabefa);
}

.nav-function-item {
	position: relative;

	padding: 10px;

	color: var(--Accent, #22409a);
	font-family: Manrope;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	cursor: pointer;
}

.nav-function-item::after {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0px;
	height: 1px;
	background-color: #aabefa;
	transform: scaleX(0);
	transform-origin: center;
	transition: transform 0.3s ease;
}

.nav-function-item:hover::after {
	transform: scaleX(1);
}

.nav-function-item-active {
	border-bottom: 1px solid #22409a;
}

.intro-bts {
	display: flex;
	flex-direction: row;
	gap: 10px;

	margin-top: 40px;
}

.intro-title {
	color: var(--Accent, #22409a);
	font-family: Manrope;
	font-size: 32px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
.intro-message {
	display: flex;
	padding: 5px 15px;
	align-items: center;
	gap: 15px;

	margin-top: 15px;

	border-left: 2px solid var(--Accent, #22409a);
}

.message-text {
	color: var(--black, #141414);
	font-family: Manrope;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.mob-padding {
	box-sizing: border-box;
	padding-left: var(--min-horisontal-padding-value);
	padding-right: var(--min-horisontal-padding-value);
}

.only-desctop {
	display: none !important;
}

.only-mobyle {
	display: block !important;
}

@media (min-width: 320px) {
	/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
}
@media (min-width: 480px) {
	/* smartphones, Android phones, landscape iPhone */
}
@media (min-width: 600px) {
	/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
}
@media (min-width: 801px) {
	/* tablet, landscape iPad, lo-res laptops ands desktops */
}
@media (min-width: 1025px) {
	main {
		padding-top: 105px;
		gap: 60px;
	}

	.only-desctop {
		display: block !important;
	}

	.only-mobile {
		display: none !important;
	}

	.section {
		max-width: 1200px;
		padding-left: 0;
		padding-right: 0;
	}

	.section-flex {
		padding: 60px 0px;
		gap: 50px;
	}

	.section-fullWidth {
		max-width: none;
		padding: 60px 0px;
		gap: 50px;
	}

	.mob-padding {
		padding-left: 0;
		padding-right: 0;
	}

	.section-title {
		font-size: 32px;
	}
}
@media (min-width: 1281px) {
	/* hi-res laptops and desktops */
}
