.solutions-section {
	width: 100%;
	max-width: 1200px;

	display: flex;
	/* padding: 60px 0px; */
	flex-direction: column;
	align-items: center;
	gap: 50px;
}
.solution-container {
	display: flex;
	flex-direction: column;
	gap: 40px;
	width: 100%;
}
.solution-content {
	display: flex;
	flex-direction: row;
	gap: 30px;
}
.solution-picture,
.solution-description {
	position: relative;
	flex: 1;
}

.solution-picture {
	overflow: hidden;
	border-radius: 8px;
}

.solution-picture img {
	width: 100%;
	height: auto;
	object-fit: cover;
	transition: all 0.3s;
}

.solution-description {
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: flex-start;
}

.description-text {
	color: var(--black, #141414);
	font-family: Manrope;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.sol-btn-wrap {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.solution-picture:hover img {
	scale: 1.1;
}
