.newsPageWrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: center;
	align-items: center;
	gap: 30px;
	margin-top: 30px;
	margin-bottom: 30px;
}

.headingSection {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 30px;
}

.newsSectionDescription {
	color: var(--black-color);
	font-family: "Manrope";
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.btnCenter {
	display: flex;
	justify-content: stretch;
	flex-direction: column;
	width: 100%;
}

@media (min-width: 1025px) {
	.newsPageWrapper {
		gap: 50px;
		margin-top: 50px;
		margin-bottom: 50px;
	}

	.headingSection {
		flex-direction: row;
	}

	.newsSectionDescription {
		width: 55%;
	}

	.newsSectionDescription {
		font-size: 16px;
	}

	.btnCenter {
		display: flex;
		flex-direction: row;

		justify-content: flex-start;
	}
}
