.lang-btn {
	all: unset;
	display: flex;
	padding: 10px;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	border: 1px solid var(--Accent, #22409a);
	min-width: 42px;
	box-sizing: border-box;

	color: var(--Accent, #22409a);
	font-family: Ubuntu;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-transform: uppercase;

	cursor: pointer;
}

.lang-btn:hover {
	background: var(--blue_sec, #e1e9ff);
}

.mob-accent-text {
	color: var(--primary-color, #22409a);

	font-family: Manrope;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.mob-text {
	color: var(--black-color, #141414);
	font-family: Manrope;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.mobHeaderBtnWrapper {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-top: 45px;
}
