.stages-section {
	width: 100%;
	max-width: 1200px;

	display: flex;
	flex-direction: column;
	gap: 50px;
}

.stage-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.stages-list {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.stage-list-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	position: relative;
	min-width: 325px;
}

.stage-description {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.stage-title {
	color: var(--black, #141414);
	font-family: Manrope;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.stage-description {
	color: var(--black, #141414);
	font-family: Manrope;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.stage-icon {
	position: absolute;
	top: 0;
	left: 0;
}
