.custombtn {
	all: unset;
	cursor: pointer;
	padding: 10px 30px;
	font-size: 16px;
	font-family: "Ubuntu";
	font-weight: 400;
	border-radius: 30px;
	white-space: nowrap;
	border: 1px solid transparent;
	text-decoration: none;
}

.btnprimary {
	background-color: var(--primary-color);
	color: var(--white-color);
	border-color: var(--primary-color);
}
.btnprimary:hover {
	background-color: var(--primary-hover-color);
	color: var(--white-color);
	border-color: var(--primary-hover-color);
}
.btnprimary:active {
	background-color: var(--primary-active-color);
	color: #aabefa;
	border-color: var(--primary-active-color);
}

.btnsecondary {
	background-color: var(--secondary-color);
	color: var(--primary-color);
	border-color: var(--secondary-color);
}
.btnsecondary:hover {
	background-color: var(--secondary-hover-color);
	color: var(--primary-color);
	border-color: var(--primary-color);
}
.btnsecondary:active {
	background-color: var(--secondary-active-color);
	color: var(--primary-color);
	border-color: var(--secondary-active-color);
}

.btnaccent {
	background-color: var(--accent-color);
	color: var(--black-color);
	border-color: var(--accent-color);
}
.btnaccent:hover {
	background-color: var(--accent-hover-color);
	color: var(--black-color);
	border-color: var(--accent-hover-color);
}
.btnaccent:active {
	background-color: var(--accent-active-color);
	color: var(--black-color);
	border-color: var(--accent-active-color);
}
