.formContainer {
	min-width: 90vw;
	box-sizing: border-box;
	padding: 20px 15px;

	border-radius: 10px;
	border: 1px solid var(--blue_sec, #e1e9ff);
	background: var(--white, #fefeff);

	box-shadow: 0px 2px 20px 0px rgba(45, 86, 206, 0.05);
}

.formTitle {
	color: var(--primary-color);
	font-family: "Manrope";
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-bottom: 20px;
}

.form {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: stretch;
	gap: 10px;

	font-size: 14px;
}

.errorMessage {
	color: #f57272;
	font-family: "Manrope";
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.formLink {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap: 5px;
	align-self: flex-end;
	margin-top: 20px;
}

.formLink span {
	color: var(--black-color);
	font-family: "Manrope";
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.link {
	color: var(--primary-color);
	font-family: "Manrope";
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	text-decoration: none;
}

.submitBtn {
	margin-top: 40px;
}

@media (min-width: 1025px) {
	.formContainer {
		min-width: auto;

		width: 615px;
		border-radius: 20px;
		padding: 30px;
	}

	.form {
		min-height: 415px;
	}
	.formTitle {
		font-size: 24px;
	}

	.submitBtn {
		margin-top: auto;
	}

	.formLink {
		display: flex;
		flex-direction: row;
		align-items: flex-start;

		gap: 5px;
		align-self: flex-end;
		margin-top: 20px;
	}

	.formLink span {
		font-size: 16px;
	}

	.link {
		font-size: 16px;
	}

	.contactForm {
		min-height: 297px;
	}
}
