.wrapper {
	width: 100%;
	margin-top: 60px;
	margin-bottom: 60px;

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 60px;
}

.topSection {
	display: flex;
	justify-content: space-between;
}

.contentSection {
	background-color: transparent;
}

.container {
	width: 585px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 15px;
}

.description {
	margin-top: 15px;
	color: var(--black-color);

	font-family: "Manrope";
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.tabsWrapper {
	width: 100%;
	max-width: 1200px;

	position: relative;
}

/* .contentWrapper {
	position: relative;
} */

.border {
	position: absolute;
	width: 100vw;
	height: 2px;
	border-bottom: 1px solid #aabefa;
	left: 50%;
	transform: translateX(-50%);

	bottom: 61px;
	z-index: 0;
}
